// wo style entry point
@import "common/_reset.scss";
@import "common/_definition.scss";
@import "common/_layout.scss";

$font-color: #333;
$bg-color-start:#fff;
$bg-color-end:#eee;

@import "common/_theme.scss";
