// wo style entry point
$theme: nb;
$bd-color:rgba(255,255,255,0.4);
$bd-color-shadow:rgba(0,0,0,0.2);

$font-color: #eee;
$fg-primary-color: #fff;
$fg-disabled-color: #bbb;

$bg-color-start:#5291BB;
$bg-color-end:#29517c;
$bg-color-solid:#3D709A;

$bg-default-color:rgba(38,139,210, 0.7);
$bg-default-hover-color:#415262;
$bg-default-active-color:rgba(68,139,210, 0.8);

$bg-widget-color:rgba(200,200,200,0.2);

$bg-primary-color:rgba(62,205,116, 0.8);
$bg-primary-hover-color:#415262;
$bg-primary-active-color:rgba(92,205,116, 0.9);

$bg-disabled-color:rgba(100,100,100,0.7);

@import "common/_theme.scss";
