// wo style entry point
@import "common/_reset.scss";
@import "common/_definition.scss";
@import "common/_layout.scss";

$font-color: #ddd;
$bg-color-start:#5291BB;
$bg-color-end:#29517c;

@import "common/_theme.scss";
