$root:".w";

// Devices
$phone-p:"min-width:0px";
$phone-l:"min-width:480px";
$tablet-p:"min-width:768px";
$tablet-l:"min-width:1024px";
$desktop:"min-width:1280px";
$desktop-lg:"min-width:1440px";

$unit:6px;
$font-default: 12px arial;
$font-title: 14px arial;

$radius: 4px;
$zcover: 10000;
$ztopmost: 99999;

$size-preview:128px;
