

#{$root}.#{$theme}, #{$root} .#{$theme}{
    button{
        cursor:pointer;
        padding:$unit $unit*2 $unit $unit*2;
        border:solid 0px $bd-color;
        border-radius:$radius;
        color:$font-color;
        background-color: $bg-default-color;
    }
    button:hover{
        background-color: $bg-default-hover-color;
    }
    button:active{
        background-color:$bg-default-active-color;
    }
}

