#{$root}.#{$theme}, #{$root} .#{$theme}{
    .w-grid{
        position: relative;
        overflow: auto;
        border:solid 1px $bd-color;
        .w-body{
            overflow: visible;
            margin-top:32px;
        }
        .w-cell{
            position: relative;
        }
        .w-sort{
            position: relative;
            display:none;
            left:0;
            top:0;
            width:20px;
            height:20px;
            svg{
                width:100%;
                height:100%;
            }
            .icon-sort-up{
                display:none;
            }
            .icon-sort-down{
                display:none;
            }
        }
        .w-head.w-row:nth-last-of-type(1){
            position: absolute;
            top:0;
            left:0;
            right:0;
            background-color: $bg-color-solid;
            border-bottom:solid 1px $bd-color;
            .w-cell{
                height:$unit * 5;
                line-height: $unit * 5;
                padding:0 $unit 0 $unit;
                cursor:default;
            }
            .w-cell.w-asc{
                .w-sort{
                    display:inline-block;
                    .icon-sort-up{
                        display:inherit;
                    }
                    .icon-sort-down{
                        display:none;
                    }
                }
            }
            .w-cell.w-desc{
                .w-sort{
                    display:inline-block;
                    .icon-sort-up{
                        display:none;
                    }
                    .icon-sort-down{
                        display:inherit;
                    }
                }
            }
        }
        .w-row{
            display: flex;
            flex-direction:row;
            flex-wrap:nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;

            .w-cell{
                flex-grow:1;
                flex-shrink:1;
                flex-basis:100px;
                white-space: normal;
                word-break:break-all;

                padding:6px;
            }
        }
        .w-nowrap{
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;

            flex-shrink:1;
            text-overflow: ellipsis;
        }
        .w-nowrap .w-row .w-cell,.w-nowrap.w-row .w-cell{
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;

            flex-shrink:1;
            text-overflow: ellipsis;
        }
        .w-row:nth-last-of-type(1){
            border:solid 1px transparent;
        }
        .w-row:nth-of-type(2n){
            background-color: $bg-color-solid;
        }
        button{
            padding:$unit;
            margin:$unit / 3;
            border:none;
        }
        button:hover{
            outline: solid 1px silver;
        }
    }
}